!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Parking Roulette
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/jumbotron-narrow.css", :rel => "stylesheet"}/
  %body
    .container
      .jumbotron
        %h1 Parking Roulette
        %p.lead We rotate every week to share available parking spots.
      .row.marketing
        - allocation.each do |name|
          .col-lg-6
            %img.parking-icon{:alt => "Parking", :src => "images/parking-icon.png"}/
            %h2= h name
      .jumbotron.info
        .row
          .col-xs-6
            %h1= count_from elapsed_weeks
            %p Elapsed weeks
          .col-xs-6
            %h1= count_from turn
            %p Turn number
